<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Users</title>
</head>
<body>
<br>
<h1 style="text-align:center">Pasticceria DsTech</h1>
<form action="#" th:action="@{/accessoUtente}" class="col-lg-6 offset-lg-3 ">
<div class="row justify-content-center">
<div class="input-group mb-3">
<input type="text" th:text="*{username}" name="username" placeholder="Inserisci username" class="form-control">
<div class="input-group-append">
<input type="submit" value="Accedi" class="btn btn-outline-primary" >
<br>
</div>
</div>
</div>
</form>
<div class="d-flex justify-content-center">
<a href="/registraUtente">Non sei registrato? Registrati</a> &nbsp;oppure&nbsp;
<a href="/accessoAdmin">Accedi come amministratore</a><br>
</div>


</body>
</html>