<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Users</title>
</head>
<body>
<br>
<h1 style="text-align:center">Libreria DsTech</h1>
<br>
<form action="#" th:action="@{/login}" method="POST" class="col-lg-6 offset-lg-3 ">
<div class="row justify-content-center">
<div class="input-group mb-3">
<input type="text" name="username" placeholder="Username" class="form-control">
<input type="password" name="password" placeholder="Password" class="form-control">
<div class="input-group-append">
<input type="submit" value="Accedi" class="btn btn-outline-primary" >
<br>
</div>
</div>
</div>
</form>
<form action="#" th:action="@{/registrazione}" class="col-lg-6 offset-lg-3 ">
<button type="submit" name="azione" value="registrazione" class="btn btn-link">Non sei ancora registrato? Registrati</button>
<button type="submit" name="azione" value="vediLibri" class="btn btn-link">Vedi Libri</button>
</form>


</body>
</html>